# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import math

# Challenge 1 - Handling Errors Using `try` and `except`

The `try` and `except` clauses create a block for handling exceptions. When we wrap code in this block, we first attempt the code in the `try` and if an error is thrown, we can handle specific errors or all errors in the `except` portion.

In the 4 cells below, modify the code to catch the error and print a meaningful message that will alert the user what went wrong. You may catch the error using a general `except` or a specific `except` for the error caused by the code.

In [28]:
# Modify the code below:

print(some_string)  

print('you cant print a string if you dont use the correct puntuation')

NameError: ignored

In [4]:
# Modify the code below:

for i in ['a','b','c']:
    print (i**2) 

print("you only can do this operation with the same data type")

aa
bb
cc

In [6]:
# Modify the code below:

x = 5
y = 0

z = x/y 

print('you cant divided any number by zero ')

In [8]:
# Modify the code below:

abc=[10,20,20]
print(abc[3]) 

print('The index is not un the list, the list starts at 0')

20

# Challenge 2 - Handling Errors Using `if` Statements

In many cases, we are able to identify issues that may come up in our code and handle those handlful of issues with an `if` statment. Sometimes we would like to handle different types of inputs and are aware that later in the code, we will have to write two different branches of code for the two different cases we allowed in the beginning.

In the 3 cells below, add an `if` statment that will handle both types of input allowed in the functions.

In [13]:
# Modify the code below to handle positive and negative numbers by adding an if statement and performing a transformation:

def sqrt_for_all(x):
    # This function will take any real number and return the square root of its magnitude
    # Input: real number
    # Output: real number
    
    # Sample Input: -4
    # Sample Output: 2.0 
    if x < 0: 
      x = abs(x)
    return math.sqrt(x)

sqrt_for_all()

5.0

In [29]:
# Modify the code below to handle zero as well. In the case of zero, return zero

def divide(x, y):
    # This function will take any two real numbers and return their quotient. If the denominator is zero, we return zero
    # Input: real number
    # Output: real number
    
    # Sample Input: 5, 1
    # Sample Output: 5.0 
    if y == 0: 
      return 0 
    return x / y

divide(5, 0)

0

In [32]:
# Modify the function below that it will take either a number and a list or two numbers. 
# If we take two numbers, add them together and return a list of length 1. 
# Otherwise, add the number to every element of the list and return the resulting list

def add_elements(a, l):

    # This function takes either two numbers or a list and a number and adds the number to all elements of the list
    # If the function only takes two numbers, it returns a list of length one that is the sum of the numbers
    
    # Input: number and list or two numbers
    # Output: list
    
    # Sample Input: 5, 6
    # Sample Output: [11]

      if type(1) == list: 
      
        return [a + element for element in l] 
      
      else: 
        return [a + 1]
        
add_elements(5, [1,2])

[6]

# Challenge 3 - Fixing Errors to Get Code to Run

Sometimes the error is not caused by the input but by the code itself. In the 2 following cells below, examine the error and correct the code to avoid the error.

In [17]:
# Modify the code below:

l = [1,2,3,4]

sum([element + 1 for element in l])

14

In [33]:
# Modify the code below:

l = [1,2,3,4]

for element in l:
    print("The current element in the loop is" , element)

The current element in the loop is 1
The current element in the loop is 2
The current element in the loop is 3
The current element in the loop is 4

# Challenge 4 - Raise Errors on Your Own

There are cases where you need to alert your users of a problem even if the input will not immediately produce an error. In these cases you may want to throw an error yourself to bring attention to the problem. In the 2 cells below, write the functions as directed and add the appropriate errors using the `raise` clause. Make sure to add a meaningful error message.

In [34]:
def log_square(x):
    # This function takes a numeric value and returns the natural log of the square of the number 
    # The function raises an error if the number is equal to zero
    # Use the math.log function in this funtion
    
    # Input: real number
    # Output: real number or error
    
    # Sample Input: 5
    # Sample Output: 3.21887
    
    # Your code here: 

    if x==0 : 
      raise ValueError('Does not exist a Log for 0 ') 
      
    else : 
      return math.log(x**2)

NameError: ignored

# Bonus Challenge - Optional Types

The optional type is a data type that allows a variable to be either a defined type (like integer, string, etc.) or None. Optional types are defined in the `typing` library. They allow us to transition Python to a statically typed language (as far as our syntax goes). To read more about the `typing` library, click [here](https://docs.python.org/3/library/typing.html#typing.Optional). 

In the cell below, use the optional type to write a function that can handle both floats and `None` type. This function converts Celcius to Fahrenheit. If we pass `None` to the function, we should return `None`, otherwise, we will compute the converted temperature

In [ ]:
from typing import Optional

def temp_convert(arg: Optional[float]) -> Optional[float]:
    # This function takes either float or None and returns either None or a converted temperature
    # Input: Optional[float]
    # Output: Optional[float]
    
    # Sample Input: 5
    # Sample Output: 41.0
    
    #Your Code here: